<!-- BANNER -->

<div class="container-fluid banner bg-img">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="hero-content">
          <p class="hero-subtitle">
            <strong class="strong">The Best</strong> Fitness Club
          </p>
          <h1 class="h1 hero-title-1" style="font-weight: 900;">Work <span style="color: #e5ce48;">Hard</span> To Get Better Life</h1>
          <p class="section-text">
            Duis mollis felis quis libero dictum vehicula. Duis dictum lorem mi,
            a faucibus nisi eleifend eu.
          </p>
          <a href="#" class="btn btn-primary">Get Started</a>
        </div>
      </div>
    </div>
  </div>
  <div class="cover-img">
    <img src="../../../assets/bg-img2.jpeg" alt="" />
  </div>
</div>


<!-- SERVICES -->
<div class="services">
  <div class="container">
    <div class="col-lg-12">
      <div class="row">
        <h1 class="text-center heading-section">Our Services</h1>
      </div>
    </div>
  </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-3 mt-4">
          <div class="text-center divs">
            <img src="../../../assets/ruler.png" alt="" class="icon-img" />
            <h3 class="mt-5 services-text">Analyze Your Goal</h3>
            <p class="services-txt">
              Contrary to popular belief, Lorem Ipsum is not simply random text.
              It has roots in a piece of classical Latin literature from 45 BC,
              making it over 2000 years old.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="text-center mt-4 divs">
            <img src="../../../assets/dumbbell.png" alt="" class="icon-img" />
            <h3 class="mt-5 services-text">Work Hard On It</h3>
            <p class="services-txt">
              Contrary to popular belief, Lorem Ipsum is not simply random text.
              It has roots in a piece of classical Latin literature from 45 BC,
              making it over 2000 years old.
            </p>
          </div>
        </div>
        <div class="col-md-3 mt-4 divs">
          <div class="text-center">
            <img
              src="../../../assets/speedometer.png"
              alt=""
              class="icon-img"
            />
            <h3 class="mt-4 services-text divs">Improve Your Performance</h3>
            <p class="services-txt">
              Contrary to popular belief, Lorem Ipsum is not simply random text.
              It has roots in a piece of classical Latin literature from 45 BC,
              making it over 2000 years old.
            </p>
          </div>
        </div>
        <div class="col-md-3 mt-4">
          <div class="text-center divs">
            <img src="../../../assets/abs.png" alt="" class="icon-img" />
            <h3 class="mt-5 services-text">Achieve Perfect Body</h3>
            <p class="services-txt">
              Contrary to popular belief, Lorem Ipsum is not simply random text.
              It has roots in a piece of classical Latin literature from 45 BC,
              making it over 2000 years old.
            </p>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- OUR-COACHES -->

<div class="trainers">
  <div class="container">
    <div class="col-lg-12 mb-5">
      <div class="row">
        <h1 class="text-center heading-section mb-5">OUR COACHES</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mb-4 div1">
        <div
          class="coach d-sm-flex flex-column justify-content-between align-items-stretch"
        >
          <div class="img">
            <img src="../../../assets/trainer1.jpg" alt="" />
          </div>
          <div class="text py-4 px-5 div-info">
            <span class="subheading">Lead Trainer</span>
            <h3 class="tr-name"><a href="#">Leonard Smith</a></h3>
            <p class="tr-pgh">
              A small river named Duden flows by their place and supplies it with
              the necessary regelialia. It is a paradisematic country, in which
              roasted parts of sentences fly into your mouth.
            </p>
            <div class="dbox w-100 d-flex align-items-center">
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-twitter"></span>
              </div>
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-facebook"></span>
              </div>
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-instagram"></span>
              </div>
            </div>
            <p></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4 div2">
        <div class="coach d-sm-flex flex-column justify-content-between align-items-stretch">
          <div class="text py-4 px-5 div-info">
            <span class="subheading">Lead Trainer</span>
            <h3 class="tr-name"><a href="#">James Buffer</a></h3>
            <p class="tr-pgh">
              A small river named Duden flows by their place and supplies it with
              the necessary regelialia. It is a paradisematic country, in which
              roasted parts of sentences fly into your mouth.
            </p>
            <div class="dbox w-100 d-flex align-items-center">
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-twitter"></span>
              </div>
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-facebook"></span>
              </div>
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-instagram"></span>
              </div>
            </div>
            <p></p>
          </div>
          <div class="img">
            <img src="../../../assets/trainer2.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4 div3">
        <div class="coach d-sm-flex flex-column justify-content-between align-items-stretch">
          <div class="img">
            <img src="../../../assets/trainer3.jpg" alt="" />
          </div>
          <div class="text py-4 px-5 div-info">
            <span class="subheading">Lead Trainer</span>
            <h3 class="tr-name"><a href="#">Sarah Connor</a></h3>
            <p class="tr-pgh">
              A small river named Duden flows by their place and supplies it with
              the necessary regelialia. It is a paradisematic country, in which
              roasted parts of sentences fly into your mouth.
            </p>
            <div class="dbox w-100 d-flex align-items-center">
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-twitter"></span>
              </div>
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-facebook"></span>
              </div>
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-instagram"></span>
              </div>
            </div>
            <p></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4 div4">
        <div class="coach d-sm-flex flex-column justify-content-between align-items-stretch">
          <div class="text py-4 px-5 div-info">
            <span class="subheading">Lead Trainer</span>
            <h3 class="tr-name"><a href="#">John Doe</a></h3>
            <p class="tr-pgh">
              A small river named Duden flows by their place and supplies it with
              the necessary regelialia. It is a paradisematic country, in which
              roasted parts of sentences fly into your mouth.
            </p>
            <div class="dbox w-100 d-flex align-items-center">
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-twitter"></span>
              </div>
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-facebook"></span>
              </div>
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-instagram"></span>
              </div>
            </div>
            <p></p>
          </div>
          <div class="img">
            <img src="../../../assets/trainer4.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
