<div class="main">
  <img src="../../../assets/about-bg.jpeg" alt="" class="bg-img" />
  <div class="container">
    <div class="background-image">
      <h1 class="about-text">ABOUT US</h1>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <img src="../../../assets/bg-img1.jpeg" alt="Foto" class="photo" />
    </div>
    <div class="col-md-6">
      <div class="text-center mt-5">
        <h2>ABOUT US</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis
          sapiente iste, distinctio pariatur maiores facilis asperiores, ab ex
          autem tempora modi error voluptates voluptatibus et excepturi iusto
          numquam quia rerum. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Tempora laborum, molestiae cumque nihil dicta sed modi nostrum
          quasi. Corporis dicta delectus assumenda labore autem, eveniet atque
          voluptate! Dolores, perspiciatis vel.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- GALLERY -->

<div class="gallery">
  <div class="container">
    <div class="col-lg-12 mt-5">
      <div class="row">
        <h2 class="text-center heading-section mt-5">GALLERY</h2>
      </div>
    </div>
  </div>
  <div class="pined section">
    <div class="pined-inner" #pinedInner>
      <ul class="pined-list" #pinedList>
        <li><img src="../../" alt="" class="about-img" /></li>
        <li>
          <img src="../../../assets/photo1.jpg" alt="" class="about-img" />
        </li>
        <li>
          <img src="../../../assets/photo2.jpg" alt="" class="about-img" />
        </li>
        <li>
          <img src="../../../assets/bg-img4.jpeg" alt="" class="about-img" />
        </li>
        <li>
          <img src="../../../assets/image3.jpg" alt="" class="about-img" />
        </li>
        <li>
          <img src="../../../assets/bg-img1.jpeg" alt="" class="about-img" />
        </li>
      </ul>
    </div>
  </div>
</div>