<div class="main">
  <img src="../../../assets/about-bg.jpeg" alt="" class="bg-img">
  <div class="container">
      <div class="background-image">
          <h1 class="contact-text">ABOUT US</h1>
      </div>
  </div>
</div>

<div class="contact">
    <div class="container mt-5">
    <div class="row">
      <div class="col-lg-6 mt-5">
        <h2 class="text-center mb-4">Contact Us</h2>
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your name" required>
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" rows="5" placeholder="Enter your message" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary btn-block form-group">Send Message</button>
        </form>
      </div>
      <div class="col-lg-6">
        <div class="info-wrap w-100 p-md-5 p-4 py-5 img">
          <h2 class="text-center mb-4">Contact information</h2>
          <p class="mb-4 text-center">We're open for any suggestion or just to have a chat</p>
          <div class="dbox w-100 d-flex align-items-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="fa fa-map-marker"></span>
            </div>
            <div class="text pl-3">
              <p><span>Address:</span> Ukë Bytyçi 20000 Prizren, Kosovo</p>
            </div>
            </div>
          <div class="dbox w-100 d-flex align-items-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="fa fa-phone"></span>
            </div>
            <div class="text pl-3">
              <p><span>Phone:</span> <a href="tel://1234567920">+ 383 (0) 49 123 456</a></p>
            </div>
          </div>
          <div class="dbox w-100 d-flex align-items-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="fa fa-paper-plane"></span>
            </div>
            <div class="text pl-3">
              <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
            </div>
          </div>
          <div class="dbox w-100 d-flex align-items-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="fa fa-globe"></span>
            </div>
            <div class="text pl-3">
              <p><span>Website</span> <a href="#">yoursite.com</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
