/* MENU */

body {
    font-family: "Montserrat", sans-serif;
    background: #000;
    color: #fff;
}

header {
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
}

.header-row {
    padding: 40px 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    z-index: 2;
}

.hamburger path {
    fill: none;
    stroke: #e5ce48;
    stroke-linecap: round;
}

.fullpage-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 3;
}

.fullpage-menu-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 100px 60px;
}

.menu-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(15px);
    opacity: 0;
}

nav {
    position: relative;
    z-index: 1;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav li {
    overflow: hidden;
}

nav li+li {
    margin-top: 30px;
}

nav li a {
    font-size: 10vh;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    line-height: 1;
    letter-spacing: 5px;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}

nav li a span {
    position: relative;
    display: block;
}

nav li a span:before {
    content: attr(data-clip);
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #E9AA03;
    -webkit-text-stroke: 3px transparent;
    background-clip: text;
    z-index: 10;
    height: 0%;
    overflow: hidden;
    transition: 400ms linear 0s;
}

nav li:hover a span:before {
    height: 100%;
}

@media screen and (max-width:767px) {
    .header-row {
        padding: 30px;
    }

    nav li a {
        font-size: 54px;
    }
}


/* FOOTER */

ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
    background: #151414;
    position: relative;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.single-cta i {
    color: #E9AA03;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #757575;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

.facebook-bg {
    background: #3B5998;
}

.twitter-bg {
    background: #55ACEE;
}

.google-bg {
    background: #DD4B39;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #E9AA03;
}

.footer-widget ul li {
    display: inline-block;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: #E9AA03;
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: #E9AA03;
    padding: 13px 20px;
    border: 1px solid #E9AA03;
    top: 0;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright-area {
    background: #202020;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: #E9AA03;
}